@import url("https://fonts.googleapis.com/css?family=Open+Sans");

:root {
  color: #565656;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.7;
}

body {
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  background-color: white;
  max-width: 400px;
  padding: 2rem;
  border-radius: 0.3rem;
}